body {
    display: flex;                
    justify-content: center;     
    align-items: center;         
    height: 100vh;                
    margin: 0;                    
    background-color: #ffffff;  
    font-family: Arial, sans-serif;
}

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid #333;      
    margin: 0 auto;              
    border-collapse: collapse;     
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;           
    overflow: hidden;            
    width: 90%; /* Adjusted to 90% for better fitting */
    max-width: 1200px; /* Set a maximum width */
    table-layout: fixed; /* Ensures that the table respects the width of its columns */
}

thead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #deb887;      
    color: #000000;
}

th, td {
    border: 2px solid #8B4513;    
    padding: 10px; /* Reduced padding for better fitting */
    font-size: 18px; /* Slightly reduced font size */
    text-align: center;          
    transition: background-color 0.3s; 
    word-wrap: break-word; /* Ensures long words break */
    overflow: hidden; /* Hides overflow content */
}

th {
    background-color: #deb887;    
}

tfoot {
    background-color: #f5deb3;    
}

tfoot td {
    font-weight: bold;             
}